<!--The content below is only a placeholder and can be replaced.-->
<div class="intelHeader">
  <img class="logo" src="http://www.iconsdb.com/icons/preview/guacamole-green/intel-xxl.png" alt="-_-" >
</div>
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{title}}!
  </h1> -->
  <img width="300"
  src="https://t1.pixers.pics/img/wall-murals-antique-book-racks-in-an-old-library-in-vienna.png?H4sIAAAAAAAAAyWKUQrCMBBEr6Mgna2bGLcH6G-PUJq40YhI6UYQT2_Er5k3b_B62pIVuTyqbjZsauWju0B0oD1uta42AMbdWt7Nt0iGf0c7YZzgeohrAJbfNI-T68UFYpkl6Ske3UKZU_LR68WzVxJWpnOQ2N3X6xfACe9QggAAAA=="
   >
</div>

<br />

<div class="row">
  <div class="col-md-6">
    <app-app-list></app-app-list>
  </div>

  <div class="col-md-5">
    <app-app-viewer></app-app-viewer>
  </div>
</div>


<!-- src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" -->
